{% extends 'usuarios\base_usuarios.html' %}

{% block titulo %}Usuarios{% endblock titulo %}

{% block contenido %}



<div id="tb_quizlist_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

    <div class="row" style="width: 100%";>
        <div class="col-sm-12">

            <h1 class="text-center">Usuarios:</h1>

            <div class="row">
                {% for usuar in usuarios %}
                <div class="col-sm-3 ">
                    <div class="card card-usuario hover-shadow">
                        <div class="card-body ">
                            <h5 class="card-title align-middle text-center">{{usuar.username}}</h5>
                            <p></p>
                            <p class="text-center usuario-grupo">({{ usuar.groups.get }})</p>
                            {% load static %}
                            <a href="{% url 'editar_usuario' usuar.id %}" class="stretched-link"></a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% load static %}
            <div class="div-add-user">
            <a href="{% url 'nuevo_usuario' %}" ><img class="img-add-user"  src="{%static '\img\circle-plus.svg' %}" ></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}