
{% extends 'productos\base_productos.html' %}

{% block titulo %}Ingreso/Egreso de Mercadería{% endblock titulo %}

{% block contenido %}
<div class="row justify-content-center mt-4 mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h1 class="text-center">Ingreso/Egreso de mercadería</h1>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}

                        <div class="card-body">
                            <div class="form-group">
                                <form action="{% url 'modificar_stock' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="row"> 
                                        {% for campo in ModificarStockForm %} 
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                            <label for="name" class="form-label">{{ campo.label }}</label>
                                            {{campo}}
                                            </div>
                                            <span class='error'>{{campo.errors}}</span>
                                        </div> 
                                        {% endfor %} 
                                    </div>

                                    <div class="row"> 
                                        {{ form.management_form }}
                                        {% for art in form %} 
                                        <div class="col-md-12 articulo0">
                                            <div class="mb-3">
                                            <label for="name" class="form-label">{{ art.label }}</label>
                                            {{art}}
                                            </div>
                                            <span class='error'>{{art.errors}}</span>
                                        </div> 
                                        {% endfor %} 
                                    </div>

                                    <div style="direction: rtl">
                                        <button type="button" class="btn btn-outline-success" id="btn_add"
                                            style="margin-bottom: 2vw;box-shadow: none; "
                                            onclick="agregarProducto();">+</button>
                                        <button type="button" class="btn btn-outline-danger invisible eliminarProd" id="btn_removeLast"
                                            style="margin-bottom: 2vw;box-shadow: none; "
                                            onclick="eliminarUltimoProducto();">-</button>
                                    </div>

                                    <button type="submit" class="btn btn-secondary btn-block">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static '\js\forms.js'%} "></script>

{% endblock contenido %}